<!doctype html>
<html lang="en">
<% include ../includes/head.ejs %>

<body>
  <% include ../includes/header.ejs %>

  <section class="hero is-info is-small">
    
  </section>

  <% if (locals.user) { %>
  <section class="section is-small">
    <div class="container">
      <p class="has-text-centered">
        <a href="/user" class="button is-info is-medium is-hovered">Afficher les informations récupérées grâce à FranceConnect
        </a>
      </p>
    </div>
  </section>
  <% } %>
  <section class="section is-small">
    <div class="container">
      <!-- <h2 class="title is-2">Connectez-vous via FranceConnect</h2> -->
      <div class="tile is-ancestor">
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent">
              <article class="tile is-child notification">
               
                <div class="has-text-centered content is-vcentered">
                    <a href="/login" data-role="login">
                    <img src="/img/FCboutons-10.svg" alt="">
                  </a>
    
                 
                  <p style="margin-top: 2em;">
                   
                  </p>
                </div>
              </article>
            </div>
            

          </div>
        </div>
      </div>
    </div>
  </section>

  <% include ../includes/footer.ejs %>
  <link rel="stylesheet" href="css/highlight.min.css">
  <script src="js/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>
